<div class="loginMain formMain" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0"
  fxFlex="100%">
  <div class="form-container" fxFlex="35%">

    <p-card>
      <div class="logo">
        <p>logo here</p>
      </div>
      <div class="gap20"></div>
      <p class="bolderText">CHANGE PASSWORD</p>
      <div class="gap20"></div>
      <form fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" [formGroup]="changePassForm">
        
        <div class="formGroup">
          <input class="styledInput" type="password" pInputText name="password" formControlName="password" placeholder="Password"
            value="">
          <div *ngIf="changePassForm.controls['password'].touched && changePassForm.controls['password'].hasError('required')">
            Password is
            <strong>required</strong>
          </div>

          <div *ngIf="changePassForm.controls['password'].touched && changePassForm.controls['password'].hasError('minlength')">
            Password should be atleast
            <strong>{{config.PASSWORD_MIN_LENGTH}} </strong> characters
          </div>

          <div *ngIf="changePassForm.controls['password'].touched && changePassForm.controls['password'].hasError('maxlength')">
            Password should not be more than
            <strong>{{config.PASSWORD_MAX_LENGTH}} </strong> characters
          </div>
        </div>

        <button class="btnPrimary" type="submit" (click)="changePassFormSubmit()">Change Password</button>
        <div class="gap20"></div>
      </form>
    </p-card>
  </div>
</div>
