<h3>Add Project Type</h3>

<form class="groupForm formDefault" [formGroup]="projectTypeForm" fxLayout="column">
  <div fxFlex="100%" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.sm="0"
    fxLayoutGap.xs="0" class="formRow">
    <span class="formLft formCol">
      <label>Name <strong class="red">*</strong></label>
      <input type="text" value="" placeholder="Enter project type name here..." formControlName="name">
      <p-message severity="error" text="Field is required" *ngIf="projectTypeForm.controls['name'].hasError('required') && projectTypeForm.controls['name'].touched"></p-message>
    </span>
    <span class="formLft formCol">
      <label>Is Time required <strong class="red">*</strong></label>
      <p-checkbox [formControl]="projectTypeForm.controls['isTimeRequired']" binary="true"></p-checkbox>
    </span>
  </div>

  <div fxFlex="100%" fxLayout="row" fxLayoutGap="25px" class="formRow">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" (click)="submit()"
      [disabled]="!projectTypeForm.valid">
      <span class="ui-button-text ui-clickable">
        <i class="fa fa-close" *ngIf="!projectTypeForm.valid"></i>
        <i class="fa fa-check" *ngIf="projectTypeForm.valid"></i>
        Submit
      </span>
    </button>
    <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" routerLink="/app/project-type/list"><span
        class="ui-button-text ui-clickable"><i class="fa fa-chevron-left"></i> Back</span></a>
  </div>
</form>
<p-toast></p-toast>