<h3>Add Co-Ordinator</h3>


<form class="coordinatorAddForm formDefault" [formGroup]="coordinatorAddForm" fxLayout="column">
  <div fxFlex="100%" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.sm="0"
    fxLayoutGap.xs="0" class="formRow">
    <span class="formLft formCol">
      <label>First Name <strong class="red">*</strong></label>
      <input type="text" value="" placeholder="Enter your first name here..." formControlName="firstName">
      <p-message severity="error" text="Field is required" *ngIf="coordinatorAddForm.controls['firstName'].hasError('required') && coordinatorAddForm.controls['firstName'].touched"></p-message>
      <p-message severity="error" text="Enter proper format of first name" *ngIf="coordinatorAddForm.controls['firstName'].hasError('pattern') && formInvalid"></p-message>
    </span>
    <span class="formRgt formCol">
      <label>Last Name <strong class="red">*</strong></label>
      <input type="text" value="" placeholder="Enter your last name here..." formControlName="lastName">
      <p-message severity="error" text="Field is required" *ngIf="coordinatorAddForm.controls['lastName'].hasError('required') && coordinatorAddForm.controls['lastName'].touched"></p-message>
      <p-message severity="error" text="Enter proper format of last name" *ngIf="coordinatorAddForm.controls['lastName'].hasError('pattern') && formInvalid"></p-message>
    </span>
  </div>
  <div fxFlex="100%" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.sm="0"
    fxLayoutGap.xs="0" class="formRow" class="formRow">
    <span class="formLft formCol">
      <label>Email <strong class="red">*</strong></label>
      <input type="email" value="" placeholder="Enter your Email Address here..." formControlName="email">
      <p-message severity="error" text="Field is required" *ngIf="coordinatorAddForm.controls['email'].hasError('required') && coordinatorAddForm.controls['email'].touched"></p-message>
      <p-message severity="error" text="Enter a valid email address" *ngIf="coordinatorAddForm.controls['email'].hasError('pattern') && formInvalid"></p-message>
    </span>
    <span class="formRgt formCol">
      <label>Password <strong class="red">*</strong></label>
      <input type="password" value="" placeholder="Enter your Password here..." formControlName="password">
      <p-message severity="error" text="Field is required" *ngIf="coordinatorAddForm.controls['password'].hasError('required') && coordinatorAddForm.controls['password'].touched"></p-message>
      <p-message severity="error" text="Password length should be minimum 6" *ngIf="coordinatorAddForm.controls['password'].hasError('minlength') && formInvalid"></p-message>
    </span>
  </div>
  <div fxFlex="100%" fxLayout="row" fxLayoutGap="25px" class="formRow">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" (click)="save(coordinatorAddForm.value)"
      [disabled]="!coordinatorAddForm.valid">
      <span class="ui-button-text ui-clickable">
        <i class="fa fa-close" *ngIf="!coordinatorAddForm.valid"></i>
        <i class="fa fa-check" *ngIf="coordinatorAddForm.valid"></i>
        Submit
      </span>
    </button>
    <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" routerLink="/app/coordinator/list"><span
        class="ui-button-text ui-clickable"><i class="fa fa-chevron-left"></i> Back</span></a>
  </div>
</form>

<p-dialog header="SUPERADMIN DETAILS" [(visible)]="dialog_display" [modal]="true" [responsive]="true" [width]="350"
  [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <p>
    <strong>Please confirm your password to proceed:</strong></p>
  <p class="modalInput">
    <input type="password" [(ngModel)]="userPassword" />

  </p>
  <p class="modalButton">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" (click)="submit_popup()">
      <span class="ui-button-text ui-clickable">
        Submit
      </span>
    </button>
    <button class="ui-button ui-button-danger ui-widget ui-state-default ui-corner-all ui-button-text-only" (click)="cancel_popup()">
      <span class="ui-button-text ui-clickable">
        Cancel
      </span>
    </button>
  </p>
</p-dialog>

<p-toast></p-toast>